@media only screen and (max-device-width: 480px) {
    
    body{
        background-color: #F7F6F4;
        border-style: solid;
        border-width: 10px;
        border-radius: 15px;
        border-color: #004063;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    ul{
        list-style: none;
    }
    
    h1{
        color: black;
        font-size: 25px;
        font-weight: 800;
    }

    p{
        color: black;
    }

    span{
        font-weight: 800;
        color: #004063;
    }

    footer nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer nav ul li img{
        width: 40px;
        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        border-color: black;
    }
}